<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COSCI SWU - วิทยาลัยนวัตกรรมสื่อสารสังคม</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
  <nav class="fixed-top">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="images/swu-cosci-logo-color.png" class="nav-logo" alt="nav-logo">
          </a>
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-dark">HOME</a></li>
            <li><a href="/aboutus" class="nav-link px-2 link-dark">ABOUT</a></li>
            <li><a href="/strategicplanning" class="nav-link px-2 link-dark">STRATEGIC PLANNING</a></li>
            <li><a href="/gallery" class="nav-link px-2 link-dark">GALLERY</a></li>
            <li><a href="/contactus" class="nav-link px-2 link-dark">CONTACT</a></li>
          </ul>
          <% if (isLoggedIn) {%>
            <div class="col-md-3 text-end">
                <a href="/api/auth/logout" class="text-decoration-none btn btn-outline-danger me-2">Sign-out</a>
            </div>
          <% } else { %>
            <div class="col-md-3 text-end">
                <a href="/signin" class="text-decoration-none btn btn-outline-primary me-2">Sign-in</a>
            </div>
          <% } %>
        </header>
    </div>
</nav>
  <div class="container-xl text-center" style="margin-top: 7rem;">
    <h1>STRATEGIC PLANNING</h1>
    <h5>แผนปฏิบัติการ วิทยาลัยนวัตกรรมสื่อสารสังคม</h5>
  </div>
  <div class="container mt-5">
    <div class="card w-100 m-4">
      <div class="card-body">
        <h3>โครงสร้างองค์กร</h3>
        <ul>
          <li><a href="http://cosci.swu.ac.th/storage/organizations-item/3kgkoXh8fExZL5aa9Hhag8pzHizHFwJLNNbFYtan.png" class="text-decoration-none text-primary"><i class="fas fa-external-link-alt"></i> โครงสร้างองค์กร วิทยาลัยนวัตกรรมสื่อสารสังคม</a></li>
        </ul>
      </div>
    </div>
    <div class="card w-100 m-4">
      <div class="card-body">
        <h3>แผนปฏิบัติการ</h3>
        <ul>
          <li><a href="http://cosci.swu.ac.th/storage/organizations-item/j61yukcuyeI0A1ShMiS2n2pmPahKEDoUpqkGzih7.pdf" class="text-decoration-none text-primary"><i class="fas fa-external-link-alt"></i> แผนปฏิบัติการวิทยาลัยนวัตกรรมสื่อสารสังคม ประจำปีงบประมาณ พ.ศ 2565</a></li>
          <li><a href="http://cosci.swu.ac.th/storage/organizations-item/Ni09yeLWo1YvuI5YpGMy1oyTlRZkOhG3iBulrgyS.pdf" class="text-decoration-none text-primary"><i class="fas fa-external-link-alt"></i> แผนปฏิบัติการวิทยาลัยนวัตกรรมสื่อสารสังคม ประจำปีงบประมาณ พ.ศ 2563</a></li>
          <li><a href="http://cosci.swu.ac.th/storage/organizations-item/fdvGHZYW4MeGwg7neGbPhM3jcmGP2zlU6dt3aQar.pdf" class="text-decoration-none text-primary"><i class="fas fa-external-link-alt"></i> แผนปฏิบัติการวิทยาลัยนวัตกรรมสื่อสารสังคม ประจำปีงบประมาณ พ.ศ 2562</a></li>
          <li><a href="http://cosci.swu.ac.th/storage/organizations-item/jqeX7Gsc3uZOZcvHQMnKuUogsM9yUI1g5yXIyI4C.pdf" class="text-decoration-none text-primary"><i class="fas fa-external-link-alt"></i> แผนปฏิบัติการวิทยาลัยนวัตกรรมสื่อสารสังคม ประจำปีงบประมาณ พ.ศ 2561</a></li>
          <li><a href="http://cosci.swu.ac.th/storage/organizations-item/vBeFgjoNNgRrXQd6gM8fcF17X80EoqSVfM696HF4.pdf" class="text-decoration-none text-primary"><i class="fas fa-external-link-alt"></i> แผนปฏิบัติการวิทยาลัยนวัตกรรมสื่อสารสังคม ประจำปีงบประมาณ พ.ศ 2560</a></li>
        </ul>
      </div>  
    </div>
    <div class="card w-100 m-4 mb-5">
      <div class="card-body">
        <h3>แผนกลยุทธ์</h3>
        <ul>
          <li><a href="http://cosci.swu.ac.th/storage/organizations-item/NjOvdNodUEM9a8bdx71rHYf3okVWVk4X6v1t1IW2.pdf" class="text-decoration-none text-primary"><i class="fas fa-external-link-alt"></i> แผนกลยุทธ์ วิทยาลัยนวัตกรรมสื่อสารสังคม มหาวิทยาลัยศรีนครินทรวิโรฒ พ.ศ. 2565-2567</a></li>
        </ul>
      </div>
    </div>
  </div>

  <footer class="text-center text-lg-start bg-light text-muted">
    <section>
        <div class="container text-center text-md-start pt-4">
            <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <img src="images/swu-cosci-logo-black.png" style="height: 5rem;">
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">ABOUT US</h6>
                <p>
                <a href="#!" class="text-reset text-decoration-none">History</a>
                </p>
                <p>
                <a href="#!" class="text-reset text-decoration-none">Strategic Planning</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> Srinakharinwirot University 114 Soi Sukhumvit 23, Khlong Toei Nuea, Watthana, Bangkok 10110</p>
                <p><i class="fas fa-envelope me-3"></i>PRCOSCISWU@GMAIL.COM</p>
                <p><i class="fas fa-phone me-3"></i>02-649-5000 EXT 11275, 02-259-2343</p>
            </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        COLLEGE OF SOCIAL COMMUNICATION INNOVATION.ALL RIGHTS RESERVED.
    </div>
</footer>
    
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>